{
    "plugins": [
      [
        "module-resolver",
        {
          "extensions": [".js", ".vue"],
          "root": ["./src"],
          "alias": {
            "root": ".",
            "src": "/src"
          }
        }
      ]
    ]
  }